
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1{
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 15px;
    border-radius: 4px;
}

.header h1.logo{
    font-size: 25px;
    font-weight: bold;
    color: #5c5239
    
}


@media screen and (max-width: 768px) {

    .header{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .header p{
        float: none;
        display: block;
    }
}


@media screen and (max-width: 360px) {

    .header{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .header h1{
        float: none;
        display: block;
    }
    .header h1.logo{
        line-height: 22px;
    }

}


